<template>
	<Fragment>
		<b-button @click="this.showModal" variant="outline-primary">CREATE</b-button>

		<b-modal ref="createModalDef" hide-footer title="Create Your Schedule">
			<b-form @submit="sendCreate">
				What year is this schedule for?
				<b-form-input
					id="year"
					v-model="scheduleData.year"
					type="number"
					required
					placeholder=""
				></b-form-input>

				What is the name of this schedule?
				<b-form-input
					id="scheduleName"
					v-model="scheduleData.name"
					type="text"
					required
					placeholder="Enter name"
				></b-form-input>

				How many periods per day are there?
				<b-form-input
					id="periodsPerDay"
					v-model="scheduleData.periodsPerDay"
					type="number"
					required
					placeholder="Periods Per Day"
				></b-form-input>

				How many lunches does the new schedule have?
				<b-form-input
					type="number"
					v-model="maxLunch"
					placeholder="Amount of lunches"
				></b-form-input>
				
				What period does the new schedule's lunch block start?
				<b-form-input
					type="number"
					v-model="minLunch"
					placeholder="Lunch block start"
				></b-form-input>
				<div class="responseButtons">
					<b-button type="submit" variant="primary">Create</b-button>
					<b-button @click="this.hideModal" variant="outline-danger"
						>Cancel</b-button
					>
				</div>
			</b-form>
		</b-modal>
	</Fragment>
</template>

<script>
import axios from 'axios';
export default {
	name: 'CreateScheduleModal',
	props: {
		id: Number,
		name: String,
	},
	data() {
		return {
			scheduleData: {
				year: 0,
				name: '',
				periodsPerDay: 0,
				lunchPeriods: '',
			},
			minLunch: 0,
			maxLunch: 0,
		};
	},
	methods: {
		showModal() {
			this.$refs['createModalDef'].show();
		},
		hideModal() {
			this.$refs['createModalDef'].hide();
		},
		sendCreate(evt) {
			this.setLunches();
			evt.preventDefault();
			console.log(this.scheduleData);
			axios
				.post(
					`/api/schedules/`,
					JSON.stringify(this.scheduleData),
					{ withCredentials: true }
				)
				.then(() => {
					this.$refs['createModalDef'].hide();
					window.location.reload();
				});
		},
		setLunches() {
			var final = '';
			var max = this.minLunch + this.maxLunch;

			for (var i = this.minLunch; i < max; i++) {
				final += `${i},`;
			}
			final = final.slice(0, -1);
			this.scheduleData.lunchPeriods = final;
		},
	},
};
</script>

<style>
.responseButtons {
	margin-top: 1rem;
}
.responseButtons * {
	margin-right: 1rem;
}
</style>
