<template>
	<fragment>
		<b-button @click="this.showModal" variant="danger">Delete</b-button>

		<b-modal ref="deleteModalDef" hide-footer title="Are you sure?">
			<p>Are you sure you want to delete schedule <code>{{ this.name }}</code> ({{
				this.id
			}})?</p>

			<p><strong>This action can never be undone.</strong></p>
			<div class="responseButtons">
				<b-button variant="primary" @click="this.hideModal">Cancel</b-button>
				<b-button variant="outline-danger" @click="this.sendDelete">DELETE</b-button>
			</div>
		</b-modal>
	</fragment>
</template>

<script>
import axios from 'axios';
export default {
	name: 'DeleteScheduleModal',
	props: {
		id: Number,
		name: String,
	},
	methods: {
		showModal() {
			this.$refs['deleteModalDef'].show();
		},
		hideModal() {
			this.$refs['deleteModalDef'].hide();
		},
		sendDelete() {
			axios({
				url: `/api/schedules/schedule/${this.id}`,
				method: 'DELETE',
				withCredentials: true,
			}).then(() => {
				window.location.reload();
			});
		},
	},
};
</script>
