<template>
	<div>
		<div v-if="this.schedule.teacherArrayList.length > 0">
			<b-table-simple striped>
				<b-thead head-variant="dark">
					<b-tr>
						<b-th>Teacher</b-th>
						<b-th v-for="period in this.periods" :key="period">
                            {{period}}
						</b-th>
					</b-tr>
				</b-thead>
                <b-tbody>
                    <b-tr v-for="(teacher, i) in this.schedule.teacherArrayList" :key="i">
                        <b-th>
                            {{teacher.teacherName}}
                        </b-th>
                        <b-th v-for="(course, j) in teacher.orderedCourses" :key="j">
                            {{course.courseName}}
                        </b-th>
                    </b-tr>
                </b-tbody>
			</b-table-simple>
		</div>
		<LoadingMenu v-else />
	</div>
</template>

<script>
import axios from 'axios';
import PeriodParser from "./PeriodParser"
import LoadingMenu from "./LoadingMenu"
export default {
	name: 'GeneratedSchedulePage',
	data() {
		return {
            schedule: [],
            periods: []
		};
	},
	components: {
		LoadingMenu
	},
	created() {
		this.getSchedule();
	},
	methods: {
		getSchedule() {
			axios
				.get(
					`/api/schedules/schedule/ordered/${this.$route.params.id}`
				)
				.then((json) => {
					this.schedule = json.data;
                    this.periods = PeriodParser({ totalPeriods: json.data.coursesPerDay, lunchPeriods: json.data.lunchPeriodsPerDay })
				});
		},
	},
};
</script>
