<template>
	<div>
		<b-jumbotron class="l_jumbo">
			<template slot="header">Master Schedulizer</template>
			<hr class="my-4" />
			<b-button
				class="l_homePageButton"
				variant="primary"
				v-on:click="this.redirToScheduleList"
				>Start</b-button
			>
		</b-jumbotron>
	</div>
</template>

<script>
export default {
	name: 'HomePage',
	methods: {
		redirToScheduleList() {
			this.$router.push('scheduleSelect');
		},
	},
};
</script>

<style scoped>
.l_jumbo {
	height: 90.5vh;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 0;
}

.l_homePageButton {
	align-self: flex-start;
}

.my-4 {
	margin-left: 0;
	margin-right: 0;
}
</style>
