<template>
		<div class="loadingMenu">
            Loading...
			<b-spinner variant="primary" label="Spinning"></b-spinner>
        </div>
</template>


<style scoped>
.loadingMenu {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
}
</style>
