<template>
	<div>
		<b-button
			v-if="this.isLoggedIn"
			variant="outline-danger"
			v-on:click="this.logout"
			>LOGOUT</b-button
		>
		<b-button
			v-if="!this.isLoggedIn"
			variant="outline-info"
			v-on:click="this.login"
			>LOGIN</b-button
		>
	</div>
</template>

<script>
import axios from 'axios';
export default {
	name: 'LoginButton',
	data() {
		return {
			isLoggedIn: this.checkLoggedIn(),
		};
	},
	methods: {
		checkLoggedIn() {
			axios.get('/api/user/').then((json) => {
				this.isLoggedIn = json.data.isLoggedIn;
			});
		},
		logout() {
			axios.delete('/api/user/').then(() => {
				this.isLoggedIn = false;
			});
		},
		login() {
			this.$router.push('login');
		},
	},
};
</script>
