<template>
	<div>
		<div v-if="!success">User with given credentials not found.</div>
		<b-form @submit="sendLoginInformation">
			<b-form-group
				id="usernameGroup"
				label="Username"
				label-for="usernameInput"
			>
				<b-form-input
					id="usernameInput"
					v-model="form.username"
					required
					placeholder="Enter username"
				/>
			</b-form-group>
			<b-form-group
				id="passwordGroup"
				label="Password"
				label-for="passwordInput"
			>
				<b-form-input
					id="passwordInput"
					v-model="form.password"
					required
					type="password"
					placeholder="Enter password"
				/>
			</b-form-group>
			<b-button type="submit" variant="primary">Submit</b-button>
		</b-form>
	</div>
</template>

<script>
import axios from 'axios';
export default {
	name: 'LoginPage',
	data() {
		return {
			success: true,
			form: {
				username: '',
				password: '',
			},
		};
	},
	methods: {
		async sendLoginInformation(evt) {
			this.success = true;
			evt.preventDefault();
			let loginData = await axios.post(
				'/api/user/',
				this.form
			);
			if (loginData.data.loggedIn) this.$router.push('scheduleSelect');
			else this.success = false;
		},
	},
};
</script>
