<template>
    <b-navbar class="l_navbar">
        <b-navbar-brand href="/">schedulizer</b-navbar-brand>
        <b-navbar-nav is-nav>
            <b-nav-item href="/">Home</b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
            <LoginButton />
        </b-navbar-nav>
    </b-navbar>
</template>

<script>
import LoginButton from "./LoginButton"

export default {
    name: "NavBar",
    components: {
        LoginButton
    }
}
</script>

<style scoped>
.l_navbar {
    background-color: #e9ecef
}
</style>