<template>
	<div>
		<div v-if="this.schedules.length > 0">
			<b-table-simple striped hover small caption-top responsive>
				<b-thead head-variant="dark">
					<b-tr>
						<b-th>ID</b-th>
						<b-th>Year</b-th>
						<b-th>Name</b-th>
						<b-th>Actions</b-th>
					</b-tr>
				</b-thead>
				<b-tbody>
					<ScheduleListItem
						v-for="schedule in this.schedules"
						:key="schedule.id"
						:schedule="schedule"
					/>
				</b-tbody>
			</b-table-simple>
				<CreateScheduleModal class="createButtonStyle" />
		</div>
		<LoadingMenu v-else />
	</div>
</template>

<script>
import axios from 'axios';
import ScheduleListItem from './ScheduleListItem';
import CreateScheduleModal from './CreateScheduleModal';
import LoadingMenu from "./LoadingMenu"

export default {
	name: 'ScheduleSelector',
	components: {
		CreateScheduleModal,
		ScheduleListItem,
		LoadingMenu
	},
	data() {
		return {
			schedules: [],
		};
	},
	created() {
		if (this.checkIfLogged()) this.getAllSchedules();
		else this.$router.push('login');
	},
	methods: {
		async checkIfLogged() {
			var json = await axios.get('/api/user/');
			return await json.data.isLoggedIn;
		},
		getAllSchedules() {
			axios
				.get('/api/schedules/')
				.then((json) => (this.schedules = json.data));
		},
	},
};
</script>

<style scoped>
.createButtonStyle {
	margin-left: 1rem;
}
</style>
