<template>
	<b-tr>
		<b-th>{{ this.schedule.id }}</b-th>
		<b-th>{{ this.schedule.year }}</b-th>
		<b-th>{{ this.schedule.name }}</b-th>
		<b-th class="responseButtons">
			<b-button variant="primary">Input</b-button>
			<b-button variant="success" @click="redirToGenerate">Generate</b-button>
			<b-button variant="success">Student Interest Form</b-button>
			<DeleteScheduleModal :id="this.schedule.id" :name="this.schedule.name" />
		</b-th>
	</b-tr>
</template>

<script>
import DeleteScheduleModal from "./DeleteScheduleModal"
export default {
	name: 'ScheduleListItem',
	components: {
		DeleteScheduleModal,
	},
	props: {
		schedule: {
			type: Object,
		},
	},
	methods: {
		redirToInput() {
			this.$router.push(`/scheduleInput/${this.schedule.id}`);
			
		},
		redirToGenerate() {
			this.$router.push(`/scheduleGenerated/${this.schedule.id}`);
		},
		redirToStudent() {
			this.$router.push(`/studentInterest/${this.schedule.id}`);

		}
	},
};
</script>
