<template>
	<div id="app">
		<NavBar />
		<router-view />
	</div>
</template>

<script>
import NavBar from './components/NavBar';

export default {
	name: 'App',
	components: {
		NavBar,
	},
};
</script>

<style>
html,
body {
	padding: 0;
	margin: 0;
}
</style>
